
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/Restaurent/Create">
    <input type="text" name="FoodName" placeholder="Food" class="form-control">
    <input type="time" name="MaxPresTime" class="form-control" />

    <button type="submit">Submit</button>
</form>